# Secret info about django project
SECRET_KEY=your-secret-key
DEBUG=True

# Postgres database params
NAME=name_of_catalog_database
USER=name_of_Postgress_DB_user
PASSWORD=password
HOST=host
PORT=port

# Email address and app password for sending emails
EMAIL_ADDRESS=email_address_for_sending_mails
APP_EMAIL_PASSWORD=email_app_password

# Cache settings
LOCATION=host_of_cache