<!-- mailing_list.html -->
{% extends 'mailing/base.html' %}

{% block title %}Mailing list{% endblock %}

{% block page_name %}
    Рассылки
{% endblock %}

{% block page_buttons %}
    <div class="btn-group me-2">
        {% if 'mailing.add_mailing' in perms %}
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:mailing_create' %}">Создать</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

  <h2>Активные рассылки</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Тема</th>
          <th scope="col">Дата начала</th>
          <th scope="col">Дата завершения</th>
          <th scope="col">Получатели</th>

          <th scope="col">Отправитель</th>

          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>

        {% for mailing in mailings %}

            {% if mailing.status == "LAUNCHED" %}

                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ mailing.message.title }}
                  <td>{{ mailing.start_at|date:"d M Y" }}</td>
                  <td>{{ mailing.end_at|date:"d M Y" }}</td>
                  <td>{{ mailing.recipients.count }}</td>

                  <td>{{ mailing.message.author }}</td>

                  <td><a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:mailing_detail' mailing.id %}">Открыть</a></td>

                </tr>

            {% endif %}

        {% endfor %}

      </tbody>
    </table>
  </div>

  <h2>Созданные рассылки</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Тема</th>
          <th scope="col">Дата начала</th>
          <th scope="col">Дата завершения</th>
          <th scope="col">Получатели</th>

          <th scope="col">Отправитель</th>

          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>

        {% for mailing in mailings %}

            {% if mailing.status == "CREATED" %}

                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ mailing.message.title }}
                  <td>{{ mailing.start_at|date:"d M Y" }}</td>
                  <td>{{ mailing.end_at|date:"d M Y" }}</td>
                  <td>{{ mailing.recipients.count }}</td>

                  <td>{{ mailing.message.author }}</td>

                  <td><a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:mailing_detail' mailing.id %}">Открыть</a></td>

                </tr>

            {% endif %}

        {% endfor %}

      </tbody>
    </table>
  </div>

  <h2>Завершенные рассылки</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Тема</th>
          <th scope="col">Дата начала</th>
          <th scope="col">Дата завершения</th>
          <th scope="col">Получатели</th>

          <th scope="col">Отправитель</th>

          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>

        {% for mailing in mailings %}

            {% if mailing.status == "COMPLETED" %}

                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ mailing.message.title }}
                  <td>{{ mailing.start_at|date:"d M Y" }}</td>
                  <td>{{ mailing.end_at|date:"d M Y" }}</td>
                  <td>{{ mailing.recipients.count }}</td>

                  <td>{{ mailing.message.author }}</td>

                  <td><a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:mailing_detail' mailing.id %}">Открыть</a></td>

                </tr>

            {% endif %}

        {% endfor %}

      </tbody>
    </table>
  </div>

{% endblock %}