<!-- password_reset_done.html -->
{% extends 'users/base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}Reset password done{% endblock %}

{% block content %}
    <img class="mb-4" src="/static/images/noroot.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Восстановление пароля</h1>
    <p>
        Мы отправили инструкции по восстановлению пароля на Вашу электронную почту. Если письмо не придет в течение минуты убедитесь что правильно указан адрес или проверьте спам.
    </p>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2025</p>
{% endblock %}